<form id="{{game}}" hidden>
    <h3>
		{{ game.capitalize() }} Settings
	</h3>
    <div class="input-group mb-1">
        <label for="delta" class="input-group-text">Delta</label>
        <input type="number" class="form-control" id="delta" name="delta" value="24" min="1">
    </div>
    {% include 'game_forms/' + game + '.html' %}
    <div class="input-group mb-1 container row m-0 p-0">
		<button type="button" class="col btn btn-primary" id="generate_{{game}}">Generate</button>
		<button type="button" class="col btn btn-success" id="download_{{game}}">Download</button>
	</div>
</form>